/* @font-face {
  font-family: 'GT Walsheim';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/GT-Walsheim-Light.woff') format('woff');
} */

@font-face {
  font-family: 'GT Walsheim';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/GT-Walsheim-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT Walsheim';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/GT-Walsheim-Medium.woff') format('woff');
}

@font-face {
  font-family: 'GT Walsheim';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/GT-Walsheim-Bold.woff') format('woff');
}

@font-face {
  font-family: 'GT Walsheim';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/GT-Walsheim-Bold-Oblique.woff') format('woff');
}
